* {
    border: 0;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F1E4DC;
    padding: 10px;
}

nav img {
    max-width: 100%;
    height: auto;
}

.browse {
    height: calc(50vh - 20px); /* Adjusted height to fit 4x2 grid */
    background-color: #EBD1C1;
}

#Searchbooks {
    background-color: #E4BFA6;
}

.browse ul {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap into multiple lines */
    justify-content: space-between;
    padding: 10px;
}

ul li {
    flex-basis: calc(25% - 20px); /* Adjusted item width for 4x2 grid with spacing */
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 10px;
}

#library {
    width: 100%;
    max-width: 250px;
    height: 400px;
}

#search-bar {
    display: flex;
    align-self: center;
}

input[type="text"] {
    padding: 8px;
    border: 1px solid #333;
    border-radius: 4px;
}

button {
    padding: 8px;
    background-color: burlywood;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#books-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust as needed */
    gap: 20px;
}

.book {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.book img {
    max-width: 100%;
    height: auto;
    max-height: 200px; /* Adjust max-height as needed */
}
/* 
#search-container {
    display: none;
} */
